language: php
sudo: false

php:
    - "7.0"

matrix:
    fast_finish: true
    allow_failures:
        - php: "hhvm"

install:
    - composer self-update
    - composer update

script:
    - vendor/bin/phpunit
    - vendor/bin/psalm
